---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
LineEnding: CRLF
Cpp11BracedListStyle: AlignFirstComment

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

NamespaceIndentation: All
IndentCaseLabels: false
IndentCaseBlocks: false
AccessModifierOffset: -4

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

SpaceBeforeParens: ControlStatements
SpacesInParens: Never
SpacesInAngles: Never
SpaceBeforeAssignmentOperators: true
SpaceAfterCStyleCast: false
SpaceBeforeInheritanceColon: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeRangeBasedForLoopColon: true

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true

BreakBeforeBinaryOperators: None
SortIncludes:
  Enabled: false
  IgnoreCase: false
  IgnoreExtension: false
IncludeBlocks: Preserve
AlignTrailingComments:
  Kind: Never
  OverEmptyLines: 0
ReflowComments: false
SpacesBeforeTrailingComments: 1
...
